body {
    background-color: white;
    margin: 0;
    padding: 2vh 5vh 2vh 5vh;
}

#title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    letter-spacing: 0.7vh;
    padding: 0vh 0vh 1vh 0vh;
    font-weight: 700;
    margin: 0vh 0vh 2vh 0vh;
    border-bottom: 0.3vh solid gray;
    color: black;
    font-size: 35px;
}

.photowrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0!important;
    margin: 0!important;
}

ul {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0!important;
    margin: 0!important;
}

li {
    min-height: 35vh;
    height: 35vh;
    width: auto;
    min-width: auto;
    /* flex-grow: 6; */
    list-style: none;
    padding: 0.5vh!important;
    margin: 0!important;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    filter: drop-shadow(0 0 00rem black);
    cursor: zoom-in;
}

li:last-child {
    flex-grow: 0;
}

.large {
    color: #424242; 
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    transform: scale(0.7);
    min-width: auto;
    min-height: auto;
    position: fixed;
    z-index: 0;
    top: 50%;
    left: 50%;
    height: 90%;
    background-color: #424242;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
    .large {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
}

#fullscreenImageWraper {
    background-color: white;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    top: 0;
    left: 0;
    cursor: auto;
}

#fullscreenImage {
    cursor: auto;
}